<!--=================================
 footer -->

<footer class="footer-2 page-section-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="about-content">
          <img class="img-fluid" id="logo-footer" src="../../../assets/images/logo-light.png" alt="">
          <p class="text-gray">We provide everything you need to build an amazing dealership website developed especially for car sellers dealers or auto motor retailers. </p>
        </div>
        <div class="social">
          <ul>
            <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
            <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
            <li><a href="#"> <i class="fa fa-pinterest-p"></i> </a></li>
            <li><a href="#"> <i class="fa fa-dribbble"></i> </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="usefull-link">
          <h6 class="text-white">Useful Links</h6>
          <ul>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Change </a></li>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Contact us</a></li>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Pre-purchase </a></li>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="usefull-link">
          <h6 class="text-white">our service</h6>
          <ul>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Change </a></li>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Contact us</a></li>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Pre-purchase </a></li>
            <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="keep-touch">
          <h6 class="text-white">keep in touch</h6>
          <div class="address">
            <ul>
              <li> <i class="fa fa-map-marker"></i><span>220E Front St. Burlington NC 27215</span> </li>
              <li> <i class="fa fa-phone"></i><span>(007) 123 456 7890</span> </li>
              <li> <i class="fa fa-envelope-o"></i><span>support@website.com</span> </li>
            </ul>
          </div>
          <div class="news-letter">
            <form>
              <div class="input-group divcenter">
                <input type="email" placeholder="Enter your Email" class="form-control placeholder">
                <span class="input-group-btn">
            <button type="submit" class="btn btn-icon"><i class="fa fa-paper-plane"></i></button>
           </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="text-lg-left text-center">
            <p>©Copyright 2018 Car Dealer Developed by <a href="http://www.potenzaglobalsolutions.com/" target="_blank">Potenzaglobalsolutions</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <ul class="list-inline text-lg-right text-center">
            <li><a href="#">privacy policy </a> | </li>
            <li><a href="#">terms and conditions </a> |</li>
            <li><a href="#">contact us </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--=================================
footer -->
