<!--=================================
 header -->

<header id="header" class="fancy">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="topbar-left text-lg-left text-center">
            <ul class="list-inline">
              <li><i class="fa fa-envelope-o"> </i> support@website.com</li>
              <li><i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="topbar-right text-lg-right text-center">
            <ul class="list-inline">
              <li><i class="fa fa-phone"></i> (007) 123 456 7890</li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--=================================
   mega menu -->
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- menu start -->
          <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
              <!-- menu logo -->
              <ul class="menu-logo">
                <li>
                  <a href=""><img src="../../../assets/images/logo-dark.png" alt="logo"> </a>
                </li>
              </ul>
              <!-- menu links -->
              <ul class="menu-links">
                <!-- active class -->
                <li class="active"><a routerLink="" (click)="reloadHomePage()"> Home </a>

                </li>

                <li id="cars"><a routerLink="cars" >Cars <i class=" fa-indicator"></i></a>
                  <!-- drop down multilevel  -->
<!--                  <ul class="drop-down-multilevel">-->
<!--                    <li><a href="listing-01.html">listing 01</a></li>-->
<!--                    <li><a href="listing-02.html">listing 02</a></li>-->
<!--                  </ul>-->
                </li>
                <li><a href="javascript:void(0)"> Contact </a></li>
                <li><a href="javascript:void(0)">Sign in/Register <i class="fa fa-angle-down fa-indicator"></i></a>
                  <!-- drop down multilevel  -->
                  <ul class="drop-down-multilevel">
                    <li><a routerLink="login" *ngIf="!loginService.isUserLoggedIn()"
                           (click)="reloadLoginPage()">Sign in</a></li>
                    <li><a routerLink="register" (click)="reloadRegisterPage()">Register</a></li>
                    <li><a routerLink="register" *ngIf="loginService.isUserLoggedIn() && loginService.isUserAnAdmin()"
                           (click)="reloadAdminPage()">Admin Dashboard</a></li>
                    <li><a routerLink="logout" *ngIf="loginService.isUserLoggedIn()">Logout</a></li>
                  </ul>
                </li>
                <li>
                  <div class="search-top"><a class="search-btn not_click d-none d-lg-block" href="javascript:void(0);">Search
                    Button</a>
                    <div class="search-box not-click">
                      <div class="row">
                        <div class="col-lg-2 col-sm-6">
                          <div class="selected-box">
                            <select class="selectpicker">
                              <option>Make</option>
                              <option>BMW</option>
                              <option>Honda</option>
                              <option>Hyundai</option>
                              <option>Nissan</option>
                              <option>Mercedes Benz</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                          <div class="selected-box">
                            <select class="selectpicker">
                              <option>Model</option>
                              <option>3-Series</option>
                              <option>Carrera</option>
                              <option>GT-R</option>
                              <option>Cayenne</option>
                              <option>Mazda6</option>
                              <option>Macan</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                          <div class="selected-box">
                            <select class="selectpicker">
                              <option>Year</option>
                              <option>2010</option>
                              <option>2011</option>
                              <option>2012</option>
                              <option>2013</option>
                              <option>2014</option>
                              <option>2015</option>
                              <option>2016</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                          <div class="selected-box">
                            <select class="selectpicker">
                              <option>Body style</option>
                              <option>2dr Car</option>
                              <option>4dr Car</option>
                              <option>Convertible</option>
                              <option>Sedan</option>
                              <option>Sports Utility</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                          <div class="selected-box">
                            <select class="selectpicker">
                              <option>Vehicle Status</option>
                              <option>Condition</option>
                              <option>All Conditions</option>
                              <option>Condition</option>
                              <option>Brand New</option>
                              <option>Slightly Used</option>
                              <option>Used</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                          <div class="text-center">
                            <button class="button red" type="button">Search</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </section>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script type="javascript">
    function changeClass() {
      alert();
   document.getElementById('cars').classList.add('MyClass');

    }
  </script>
  <!-- menu end -->
</header>

