<!--=================================
 inner-intro -->

<section class="inner-intro bg-1 bg-overlay-black-70">
  <div class="container">
    <div class="row text-center intro-title">
      <div class="col-md-6 text-md-left d-inline-block">
        <h1 class="text-white">Login </h1>
      </div>
      <div class="col-md-6 text-md-right float-right">
        <ul class="page-breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
          <li><a href="#">pages</a> <i class="fa fa-angle-double-right"></i></li>
          <li><span>Login</span> </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--=================================
 inner-intro -->


<!--=================================
 login-form  -->

<section class="login-form page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <span>Log in with your id or social media </span>
          <h2>Login To Your Account</h2>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="gray-form clearfix">
          <div class="form-group">
            <label for="name">User name* </label>
            <input id="name" class="form-control" type="text" [(ngModel)]="username"  placeholder="User name" name="web">
          </div>
          <div class="form-group">
            <label for="Password">Password* </label>

            <input id="Password" class="form-control" type="password" [(ngModel)]="password" placeholder="Password" name="Password">
          </div>
          <div class="form-group">
            <div class="remember-checkbox mb-4">
              <input type="checkbox" name="one" id="one">
              <label for="one"> Remember me</label>
              <a href="#" class="float-right">Forgot Password?</a>
            </div>
          </div>
          <button class="button red" (click)="loginUser()">login</button>
        </div>
        <div class="login-social text-center">
          <h5>Login with Social media</h5>
          <ul>
            <li><a class="fb button" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a class="twitter button" href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a class="pinterest button" href="#"><i class="fa fa-google-plus"></i> google+</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
 login-form  -->


